/* buku.css */

#buku {
  background-color: #f5f5f5;
  padding: 20px;
  padding-top: 5rem;
}

.add-button {
  margin-bottom: 16px; /* Menambahkan margin di bagian bawah tombol "Tambah Buku" */
}

/* CSS untuk mengatur margin */
.search-bar {
  margin-bottom: 16px;
}

/* Modal */
.modal-dialog {
  max-width: 600px;
}

/* Form */
.form-group {
  margin-bottom: 15px;
}

/* Table */
table {
  background-color: #fff;
}

th {
  background-color: #3498db;
  color: #fff;
}

/* Buttons */
.button {
  margin-right: 10px;
}

/* Edit and Delete buttons */
.button-danger {
  background-color: #e74c3c;
  border-color: #c0392b;
  color: #fff;
}

.button-danger:hover {
  background-color: #c0392b;
}

.button-info {
  background-color: #3498db;
  border-color: #2980b9;
  color: #fff;
}

.button-info:hover {
  background-color: #2980b9;
}
