#footer {
  background: linear-gradient(135deg, #00b4db, #005a9c);
  color: white;
}

.b {
  list-style: none;
  text-align: justify;
}

.title {
  text-align: left;
}

.fot-2 {
  text-align: center;
}
